.nav
  =link_to "Return to Main Page", main_app.root_url


%h3="Database Connections"

%div.actionlist
  .item
    = link_to "Add Connection", multidatabase.new_connection_path



%div.list
  %table.list
    = render partial: 'header_row'
    - @connections.each do |connection|
      = render partial: 'connection', object: connection


%div.test
  = "This is a test of the css"





