<!DOCTYPE html>
<html>
<head>
  <title>MultiDatabase</title>
  <%= stylesheet_link_tag    "multi_database/application", media: "all" %>
  <%= javascript_include_tag "multi_database/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
